.ui.comments{
  max-width: 100% !important;
}
.ui.piled.segment:after, .ui.piled.segment:before{
  background-color: #F8F8F8;
}
.ui.labeled.icon.buttons .button, .ui.labeled.icon.button{
  font-size: 15px;
}
.ui.segment{
  padding: 0px !important;
}

#replyTextArea{
  height: 0px !important;
  min-height: 3em !important;
}
a:hover{
  text-decoration: none;
}
.setBodyContent{
margin-top: 100px;
}
//*********************************************sideBar******************************//

