      <div ng-include="'components/navbar/navbar.html'"></div>
<side-bar></side-bar>

<div class="container">

  <div class="col-md-1"></div>
  <div class="col-md-8 margin_content">
    <div class="ui piled segment" ng-repeat="post in posts">
      <h2 class="ui blue ribbon label "><i class="write Square icon"></i>{{post.post_name}}</h2>
      <article class="article" >
        <header>
              <span>
                <h3>
                  <a class="ui teal tag label"><i class="white user icon"></i>{{post.post_author.userName}}</a>
                  <a class="ui teal tag label"><i class="calendar white outline icon"></i>{{post.post_date | date:'medium'}}</a>
                </h3>
              </span>
        </header>
        <div class="entry_summary">
          <section class="content">
            <p>{{post.post_content | limitTo: 700}}</p>
          </section>
          <div class="extra">
            <div class="ui left floated blue button" ng-click="fullPost(post)"  >
              <a >Read More<i class="right chevron icon"></i></a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="col-md-3"></div>










</div>
