.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
.article{
  width: 100%;
 background: rgb(248, 248, 248);
  padding: 25px 48px;
  margin-bottom: 25px;

  a{
    margin-right: 15px;
    color: #c84d29;
    text-decoration: none;
    i{
      padding-right: 5px;
    }
  }
  .entry_summary{
    width: 100%;
    a{
      font-size: 17px;
      i{
        font-size: 10px;
      }
    }
  p{
    padding: 15px 0 0 0;
    margin-bottom: 32px;
  }

}

}
