
<!---------------including naveBar2------------------>

<div ng-include="'components/navbar/navbar2.html'"></div>

<!---------------included naveBar2------------------>


<div class="container">
  <div class="formWrapper col-xs-12 col-md-12">
    <form class="form-horizontal" novalidate name="form" ng-submit="createPost(form)">
      <div class="ui active loader large" ng-if="submitted"><span>{{progressPercentage+'%'}}</span></div>
      <div class="form-group paddingTop40">
        <div class="col-sm-10">
          <div class="form-group">
            <label for="newPostName" class="col-sm-4 control-label">Category Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="newPostName" name="name" placeholder="Title" ng-model="obj.name" required>
              <span class="help-block ng-binding" ng-show="form.name.$error.required && submitted">Please Fill Name</span>
            </div>
          </div>
          <div class="form-group">
            <label for="newPostName" class="col-sm-4 control-label">Category Description</label>
            <div class="col-sm-8">
              <textarea class="form-control" name="content" placeholder="Description" ng-model="obj.post_content" rows="5" required></textarea>
              <span class="help-block ng-binding" ng-show="form.content.$error.required && submitted">Please Fill Description</span>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-success pull-right"  ng-click="addCategoriesTo()">
              <i class="glyphicon glyphicon-list"></i>
              create category
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

