<div ng-include="'components/navbar/navbar2.html'"></div>


<div class="container">
    <div class="formWrapper">
        <form class="form-horizontal" novalidate name="form" ng-submit="createPost(form)">
            <div class="form-group paddingTop40">
                <label for="authorName" class="col-sm-2 control-label">User Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="authorName" placeholder="Post Name" ng-model="userName" disabled>
                </div>
            </div>

            <div class="form-group">
                <label for="newPostName" class="col-sm-2 control-label">Post Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="newPostName" name="name" placeholder="Post Name" ng-model="post.post_name" required>
                    <span class="help-block ng-binding" ng-show="form.name.$error.required && submitted">Please Fill Name</span>
                </div>
            </div>

            <div class="form-group">
                <label for="newPostDescription" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="newPostDescription" name="content" placeholder="Post Something Here" ng-model="post.post_content" rows="5" required></textarea>
                    <span class="help-block ng-binding" ng-show="form.content.$error.required && submitted">Please Fill Description</span>
                </div>
            </div>
            <button class="btn btn-success pull-right">post</button>
        </form>
    </div>
</div>
