
  <div id="sideBar">
    <ul class="ui relaxed list">
        <div class="item" ng-show="isLoggedIn()" ng-controller="NavbarCtrl" >
          <img class= "avatar" style="  border-radius: 5px;" height="20" ng-src="api/users/{{ getCurrentUser.image }}/show" width="20">
                 <span class="css-truncate">
              <span class="css-truncate-target">{{ getCurrentUser.userName }}</span>
              </span>
        </div>
      <div class="item">
      <div class="ui accordion">
          <div class="item">
          <div class="title">
            <i class="dropdown icon"></i>
            Categories
          </div>
          <ul class="content">
            <li ng-repeat="category in categories" ng-click="categoryName(category.name)"><span>{{category.name}}</span></li>
          </ul>
          </div>
        </div>
      </div>
    </ul>
  </div>
