

#sideBar{
  position: fixed;
  top: 80px;
  width: 285px;
  background: #f8f8f8;
  margin: 18px 0 0 0;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  ul{
    padding: 10px 30px;
      li{
        cursor: pointer;
        line-height: 25px;
      }
  }
}
