.fixed.launch.button {
  position: fixed;
  top: 63px;
  left: -1px;
  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: 0.3s width ease, 0.5s transform ease;
  -moz-transition: 0.3s width ease, 0.5s transform ease;
  -o-transition: 0.3s width ease, 0.5s transform ease;
  -ms-transition: 0.3s width ease, 0.5s transform ease;
  transition: 0.3s width ease, 0.5s transform ease;


  .content.icon{
    margin-right: 3.25rem;
  }

}
.ui.attached.right.button{
  padding-left: 1.75em;

  a:hover {
    text-decoration: none;
  }

}

.fixed.launch.button:hover {
  width: 130px;
}
