
  <div id="sideBar">
    <ul class="ui relaxed list">
        <div class="item" ng-show="isLoggedIn()" ng-controller="NavbarCtrl" >
          <img class= "ui avatar image" style="  border-radius: 5px;" height="20" ng-src="api/users/{{ currentUser }}/show" width="20">
          <div class="content">
            <a class="header" ng-controller="NavbarCtrl">{{ getCurrentUser().userName }}</a>
          </div>
        </div>
      <div class="item">
      <div class="ui accordion">
          <div class="item">
          <div class="title">
            <i class="dropdown icon"></i>
            Categories
          </div>
          <ul class="content">
            <li ng-repeat="category in categories" ng-click="categoryName(category.name)"><span>{{category.name}}</span></li>
          </ul>
          </div>
        </div>
      </div>
    </ul>
  </div>



